<div id="mySidenav" class="sidenav">
 
    <button onclick="closeNav()" class="closebtn" >&times</button>
    <div style="width:fit-content">
        <button id="blouse" onclick="Open_Designs_Container(this)">Blouse</button>
        <div class="option_bt"  id="blouse_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="blouse" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="blouse2" onclick="select_another_options(this) ">More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="blouse2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    
    <div style="width:fit-content">
        
        <button id="bottomdesigns" onclick="Open_Designs_Container(this)">Bottom Designs</button>
        <div class="option_bt"  id="bottomdesigns_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)"  class="designsbuttons" id="bottomdesigns" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="bottomdesigns2" onclick="select_another_options(this) " >More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="bottomdesigns2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    <div style="width:fit-content">
        <button id="kurtis"  onclick="Open_Designs_Container(this)">Kurtis</button>
        <div class="option_bt"  id="kurtis_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)"  class="designsbuttons" id="kurtis" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)"  class="designsbuttons" id="kurtis2" onclick="select_another_options(this) " >More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="kurtis2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    <div style="width:fit-content">
        <button id="lehnga"  onclick="Open_Designs_Container(this)">Lehnga</button>
        <div class="option_bt"  id="lehnga_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)"  class="designsbuttons" id="lehnga" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)"   class="designsbuttons" id="lehnga2" onclick="select_another_options(this) ">More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="lehnga2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>

    <div style="width:fit-content">
        <button id="neckdesigns"  onclick="Open_Designs_Container(this)">Neck Design</button>
        <div class="option_bt"  id="neckdesigns_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)"  class="designsbuttons" id="neckdesigns" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="neckdesigns2" onclick="select_another_options(this) " >More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="neckdesigns2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    <div style="width:fit-content">
        <button id="outer"  onclick="Open_Designs_Container(this)">Outer</button>
        <div class="option_bt"  id="outer_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons"  id="outer" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="outer2" onclick="select_another_options(this) ">More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="outer2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    <div style="width:fit-content">
        <button id="paplun"  onclick="Open_Designs_Container(this)">Paplun</button>
        <div class="option_bt"  id="paplun_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="paplun" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="paplun2" onclick="select_another_options(this) " >More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="paplun2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    <div style="width:fit-content">
        <button id="skirt"  onclick="Open_Designs_Container(this)">Skirt</button>
        <div class="option_bt"  id="skirt_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="skirt" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)"  class="designsbuttons" id="skirt2" onclick="select_another_options(this) ">More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="skirt2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    <div style="width:fit-content">
        <button id="sleeves"  onclick="Open_Designs_Container(this)">Sleeves</button>
        <div class="option_bt"  id="sleeves_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="sleeves" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="sleeves2" onclick="select_another_options(this) ">More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="sleeves2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    <div style="width:fit-content">
        <button id="suit"  onclick="Open_Designs_Container(this)">Suit</button>
        <div class="option_bt"  id="suit_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="suit" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)"class="designsbuttons"id="suit2" onclick="select_another_options(this) " >More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="suit2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    <div style="width:fit-content">
        <button id="top"  onclick="Open_Designs_Container(this)">Top</button>
        <div class="option_bt"  id="top_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="top" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="top2" onclick="select_another_options(this) " >More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="top2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    <div style="width:fit-content">
        <Button id="kids"  onclick="Open_Designs_Container(this)">Kids</Button>
        <div class="option_bt"  id="kids_option" style="width:fit-content;margin-left:2%;text-align:center;transition: 20s;display: none;height: 0%;">
            <button style="text-align: center;color:rgb(188, 182, 182)" id="kids" onclick="select_options(this)">Trending_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" id="kids2" onclick="select_another_options(this)" >More_Designs</button>
            <button style="text-align: center;color:rgb(188, 182, 182)" class="designsbuttons" id="kids2" onclick="select_slides_option(this)" >Slides</button>
        </div>

    </div>
    
    
   
   
   
   
    
    
    
    
   
   
</div>



