<footer>
    <div style="display: flex;padding-bottom: 7%;padding-top: 2%;">
        <div style="display: flex;width: 65%;">
            <div  class="footerdiv">
                <ul>
                    <li><a href="/Bottomdesigns">Bottom Designs</a></li>
                    <li><a href="/Blouse">Blouse</a></li>
                    <li><a href="/Suit">Suit</a></li>
                    <li><a href="/Lehnga">Lehnga</a></li>
                    <li><a href="/Paplun">Peplum</a></li>
                    <li><a href="/Outer">Outer</a></li>
                </ul>
            </div>
            <div class="footerdiv">
                <ul>
                    <li><a href="/Neckdesign">Neck Designs</a></li>
                    <li><a href="/Top">Top</a></li>
                    <li><a href="/Skirt">Skirt</a></li>
                    <li><a href="/Sleeves">Sleeves</a></li>
                    <li><a href="/Kurti">Kurtis</a></li>
                </ul>
            </div>  
        </div>
        <div  id="footerfeedbackform" >
            <h2 >Feedback</h2>
            <form action="/" onsubmit="return false"   style="color:rgb(178, 173, 173);">
                <input class="feedbackinput feedbackinputname" type="text" name="name" id="name" placeholder="Name">
                <input  class="feedbackinput" type="email" name="email" id="email" placeholder="Email"><br>
                <textarea id="footerfeedbackmssg"   name="feedbackmessage" id="" placeholder="Message"  ></textarea><br>
                <button id="feedbacksubmit" onclick="alert('Submited')"  type="submit">submit</button>
            </form>
        </div>
    </div>
</footer>
