body {
    margin: 0px;background-image: linear-gradient(white,rgb(213, 209, 209),rgb(101, 101, 101));background-repeat: no-repeat;
}
.form_container {
    height: 100vh;width: 100%;text-align: center;
}
.form_container p a{
    color: white;
}
.form_container h1 {
    font-size: 200%;
}
.form_container form {
    display: grid;text-align: center;
}
.form_container form input {
    margin-left: auto;margin-right: auto;font-size: 150%;margin-top: 2%;border-style: none;border-bottom: solid;border-width: 1px;background-color: transparent;outline: none;resize: none;
}
.form_container form button {
    background-color: red;margin-top: 2%;margin-left: auto;margin-right: auto;border-style: none;padding: 0.5% 2% 0.5% 2%;
}

@media screen and (max-device-width: 500px) {
    .font{
        font-size: 80%;
    
    }
    .form_container form input {
        font-size: 130%;width: 80%;margin-top: 5%;
    }
.form_container form button {
    margin-top: 10%;padding: 1% 4% 1% 4%;
}
}